/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333; /* Text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: visible;
}

/* Header Styles */
header {
    background: #ffffff;
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
}

/* Navigation Styles */
nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

nav a:hover {
    color: #f1f1f1;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-home-link {
    margin-top: 20px; /* Adjust the value to create more space */
}

@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}

/* Main Content Styles */
main {
    padding: 20px 0;
}

.welcome-section {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-section p {
    font-family: 'Cardo', serif; /* Apply Cardo font */
    font-size: 2em;
    color: #333;
    margin: 0;
}

.centered-section {
    text-align: center;
}

.centered-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.centered-section .decades-section {
    font-family: 'Cardo', serif; /* Apply Cardo font */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.centered-section p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    max-width: 600px;
    margin: 0 auto 20px;
}

/* About Us Section */
.about-us-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.about-us-box {
    width: 45%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
}

.about-us-box h3 {
    font-family: 'Cardo', serif; /* Apply Cardo font */
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.about-us-box p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
}

.icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-left: 10px;
}

/* Footer Styles */
footer {
    background: #ffffff; /* Set background color to white */
    color: #333;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Hamburger Menu Styles */
.hamburger {
    display: flex; /* Show hamburger */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px; /* Positioning to the left */
    z-index: 1001; /* Ensure it is above other elements */
}

.hamburger div {
    width: 25px; /* Adjust width as needed */
    height: 3px;
    background: #333;
    margin: 5px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    nav {
        transform: translateX(-100%); /* Ensure the nav is hidden initially */
    }

    nav.show {
        transform: translateX(0); /* Show the nav when the 'show' class is added */
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex; /* Show hamburger on smaller screens */
    }
}